apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

resources:
- deployment.yaml
- service.yaml
- ingress.yaml
- configmap.yaml

commonLabels:
  app: demo-app
  component: web
  managed-by: kustomize
  part-of: demo-project
