apiVersion: v1
kind: Service
metadata:
  name: prometheus-lb
  namespace: monitoring
spec:
  selector:
    app: kube-prometheus-stack-prometheus
  ports:
  - name: web
    port: 9090
    targetPort: 9090
  type: LoadBalancer
