apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app  # Kustomize превратит в prod-demo-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: demo-app
      environment: production
  template:
    metadata:
      labels:
        app: demo-app
        environment: production
    spec:
      containers:
      - name: demo-app
        image: nginx:1.23-alpine
        env:
        - name: ENVIRONMENT
          value: "production"
        - name: LOG_LEVEL
          value: "INFO"
        resources:
          requests:
            memory: "128Mi"
            cpu: "200m"
          limits:
            memory: "256Mi"
            cpu: "500m"
